---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import BannerTitle from '@blocks/BannerTitle.astro'
import BannerSubtitle from '@blocks/BannerSubtitle.astro'
import Grid from '@layouts/Grid.astro'
import Inner from '@layouts/Inner.astro'
import Copy from '@atoms/Copy.astro'
import Anchor from '@atoms/Anchor.astro'
import Button from '@atoms/Button.astro'
import ImageSquare from '@atoms/ImageSquare.astro'
import {
	_padY,
	_gradientLight,
	_padT,
	_padB,
	_transition,
} from '@scripts/snips'
import _slug from '@scripts/slug'

const { blok } = Astro.props
---

<Section
	title={blok.title}
	component={blok.component}
	class:list={[_gradientLight()]}>
	<Wrapper inner padY='y'>
		<Grid class:list='pt-8 sm:pt-12 lg:pt-4'>
			<Inner
				slot='leading'
				class='space-y-3 sm:space-y-5 lg:space-y-10 lg:pb-8'>
				<BannerTitle
					title={blok.headline}
					size='4xl'
					weight='extra'
					color='accent'
					class:list='text-accent-600'
				/>
				<BannerSubtitle title={blok.subheadline} />
			</Inner>
			<div slot='trailing' class='space-y-8 md:space-y-10 lg:space-y-14'>
				<Copy content={blok.copy} />
				<ul
					class='flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3'>
					{
						blok.links.map((el: any) => (
							<li class='group'>
								<Anchor href={_slug(el.link)} hover='shadow'>
									<Button
										icon={el.icon}
										label={el.title}
										iconPosition={el.icon_position}
										color={el.color}
										class='w-full'
									/>
								</Anchor>
							</li>
						))
					}
				</ul>
			</div>
		</Grid>
	</Wrapper>
	<div class:list={[_padB(), 'relative']} data-elevator-pitch>
		<div
			class:list={[
				`group gap-3 py-4 scrollbar-hide glide__track relative`,
			]}
			data-glide-el='track'>
			<div class='glide__slides'>
				{
					blok.images.map((image) => (
						<ImageSquare
							slat
							filename={image.file.filename}
							class='max-w-[89%] sm:max-w-[47%] lg:max-w-[33.33%] glide__slide'
						/>
					))
				}
			</div>
			<div class='hidden md:block' data-glide-el='controls'>
				<Button
					tag='button'
					icon='arrow-left-fill'
					color='accent'
					fab
					class:list='absolute top-1/2 -translate-y-1/2 left-4 md:left-12 lg:left-16 xl:left-28 z-[2]'
					data-glide-dir='<'
				/>
				<Button
					tag='button'
					icon='arrow-right-fill'
					color='accent'
					fab
					class:list='absolute top-1/2 -translate-y-1/2 right-4 md:right-12 lg:right-16 xl:right-28 z-[2]'
					data-glide-dir='>'
				/>
			</div>
		</div>
		<div
			class='absolute inset-x-0 bottom-0 lg:bottom-3 xl:bottom-7 z-[2] flex items-center justify-center box-content -space-x-3'
			data-glide-el='controls[nav]'>
			{
				blok.images.map((x, i) => (
					<button
						class:list={'size-12 group flex items-center justify-center'}
						data-glide-dir={`=${i}`}>
						<span
							class:list={`
                                transition-all duration-300 ease-in-out
                                block size-2.5 rounded-full group-[.active]:bg-accent-500
                                bg-accent-300 group-hover:bg-accent-500 group-focus:bg-accent-500 group-[.active]:size-4
                            `}
						/>
					</button>
				))
			}
		</div>
	</div>
</Section>
