---
import Section from '@layouts/Section.astro'
import ImageSquare from '@atoms/ImageSquare.astro'
import Wrapper from '@layouts/Wrapper.astro'
import BannerEntry from '@blocks/BannerEntry.astro'
import { _padY, _padB } from '@scripts/snips'
import Button from '@atoms/Button.astro'

const { blok } = Astro.props,
	entry = blok.entry,
	feature = entry.content.meta[0],
	padding = () => {
		if (blok.is_header && !blok.is_collection) return _padB()
		else if (blok.is_hero && !blok.is_collection) return _padB()
		else if (blok.is_collection) return ''
		else return _padY()
	}
---

<Section title={blok.title} component={blok.component} class:list={[padding()]}>
	<div class='relative lg:grid lg:grid-cols-12 lg:grid-rows-12'>
		<ImageSquare
            cover
            square={false}
			filename={feature.image.filename}
			alt={''}
			class:list='lg:[grid-area:1/1/13/13]'
		/>
		<div class='lg:[grid-area:1/1/13/13] bg-accent-600 lg:bg-transparent'>
			<Wrapper
				inner
				class:list={[
					'flex lg:justify-end h-full',
					blok.is_header && 'lg:items-center relative',
				]}>
				<div
					class:list={[
						`bg-accent-600 lg:w-[480px] h-full flex flex-col lg:justify-end lg:px-12 py-8 sm:py-12`,
						blok.is_header && 'lg:max-h-[488px]',
					]}>
					<div class='py-8 sm:py-12 lg:py-0'>
						<BannerEntry
							subtitle={blok.title}
							title={feature.title}
							copy={feature.description}
							color='white'
							slatColor='white'
							size={blok.is_header && !blok.is_collection
								? '2xl'
								: 'xl'}
							link={!blok.is_header && entry.full_slug}
						/>
					</div>
				</div>
				{
					blok.is_header && (
						<Button
							tag='button'
							icon='arrow-down'
							color='accent'
							fab
							class:list='hidden lg:flex absolute lg:-bottom-8 lg:left-4 z-10'
							data-scroll-into-view
						/>
					)
				}
			</Wrapper>
		</div>
	</div>
</Section>
