---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import CardProduct from '@blocks/CardProduct.astro'
import { _padY, _padB, _empty } from '@scripts/snips'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import { _getVisibleItems } from '@scripts/get-visible-items'
import Pagination from '@blocks/Pagination.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import InputCheckboxChip from '@atoms/InputCheckboxChip.astro'
import InputButtonChip from '@atoms/InputButtonChip.astro'
import InputSearch from '@atoms/InputSearch.astro'

const {
	paginatedProducts,
	searchQuery,
	partners,
	partnerFilter,
	currentPage,
	totalPages,
	prevPage,
	nextPage,
} = Astro.props
---

<Section title={'All Products (Filtered)'} component={'products-filtered'}>
	<!-- Product Filters -->
	<Wrapper tag='form' inner class='py-8 xs:py-12' id='filter-form'>
		<TitleHidden tag='h3' title={'Filter Products by OEM Partner'} />
		<div class='flex items-center justify-center pb-5'>
			<InputSearch name='s' value={searchQuery || ''} />
		</div>
		<div class='flex flex-wrap gap-3'>
			{
				partners.map((i) => (
					<InputCheckboxChip
						id={i.id}
						label={i.data.title}
						name={'partner'}
						value={i.id}
						checked={partnerFilter === i.id}
					/>
				))
			}
			<div class='flex gap-3'>
				<InputButtonChip id={'apply-filters'} label={'Apply'} />
				<InputButtonChip id={'reset-filters'} label={'Reset'} />
			</div>
		</div>
	</Wrapper>
	<Wrapper
		inner
		tag='ul'
		padB='b'
		class:list='w-full relative grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3'
		data-all-products>
		<!-- Products Cards -->
		{
			paginatedProducts.length > 0 ? (
				paginatedProducts.map(({ data, resolvedPartner }, x) => (
					<li class='group'>
						<CardProduct
							filename={data.image.src}
							link={data.link?.slug || null}
							name={data.title}
							isNew={data.is_new}
							data-modal-trigger={data.is_new ? '' : null}
							data-display={
								data.is_new ? `product-at-${x}` : null
							}
							data-partner={_slugify(resolvedPartner.data.title)}
							target={data.is_new ? null : '_blank'}
						/>
					</li>
				))
			) : (
				<li>
					<p class='text-2xl text-center'>No results found</p>
				</li>
			)
		}
	</Wrapper>

	<!-- Pagination -->
	<Wrapper inner tag='ul' padB='b' aria-label='Pagination'>
		{prevPage && <a href={prevPage}>Previous</a>}
		<span>Page {currentPage} of {totalPages}</span>
		{nextPage && <a href={nextPage}>Next</a>}
	</Wrapper>
</Section>
