---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Split from '@layouts/Split.astro'
import BannerTitle from '@blocks/BannerTitle.astro'
import RichText from '@atoms/RichText.astro'
import ImageSquare from '@atoms/ImageSquare.astro'
import { _padY, _padB, _even, _odd } from '@scripts/snips'
import _slug from '@scripts/slug'
import Anchor from '@atoms/Anchor.astro'
import Button from '@atoms/Button.astro'
import _slugify from '@scripts/slugify'

const { blok } = Astro.props
---

<Section
	title={blok.title}
	component={blok.component}
	class:list={[..._padY()]}>
	<Wrapper
		tag='ul'
		padX={false}
		containXlUp
		class:list='space-y-[-92px] lg:space-y-[-74px]'>
		{
			blok.list.map((el: any, idx: number) => (
				<Split
					tag='li'
					gap
					alternateLg={_even(idx) ? false : true}
					id={_slugify(el.title)}
					class:list={
						'scroll-mt-[var(--r-spacing-16)] lg:scroll-mt-[var(--r-spacing-20)]'
					}>
					<div
						slot='leading'
						class:list={[
							'bg-surface-100 min-h-full flex flex-col justify-center xl:items-center xl:px-20 group-[&.order-1]:clip-path-t group-[&.order-2]:clip-path-b lg:!clip-path-y max-h-[720px]',
							_padY(),
						]}>
						<Wrapper
							inner
							padY='y'
							padX={false}
							class='flex flex-col space-y-6 lg:space-y-8 px-4 xl:px-0'>
							<BannerTitle
								title={el.title}
								level='h3'
								size='xl'
								weight='bold'
								slatColor='accent'
								class:list='pt-12 lg:pt-0'
							/>
							<RichText text={el.summary} />
							<div class='inline-flex group/nested'>
								<Anchor
									href={_slug(el.link[0].link)}
									hover='shadow'
									nested
									class:list='mt-3'>
									<Button
										icon={el.link[0].icon}
										label={el.link[0].title}
										iconPosition={el.link[0].icon_position}
										color={el.link[0].color}
									/>
								</Anchor>
							</div>
						</Wrapper>
					</div>
					<ImageSquare
						slot='trailing'
						filename={el.image.filename}
						asArray
						class:list={[
							'group-[&.order-2]:clip-path-b group-[&.order-1]:clip-path-t lg:!clip-path-y',
						]}
					/>
				</Split>
			))
		}
	</Wrapper>
</Section>
