---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _productsByd } from '@scripts/store'
import CardProduct from '@blocks/CardProduct.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import { _padY, _padB, _empty } from '@scripts/snips'

const { blok } = Astro.props,
	{ pathname } = Astro.url,
	pathArr = pathname.split('/'),
	isPartner = pathArr.length > 2,
	partner = (pathArr[2] ??= 'fronius'),
	products = _productsByd.value.stories,
	productsByPartner = products.filter(
		(el) => el.content.partner.slug === partner,
	)
---

{
	blok.body.map((blok) => {
		return <StoryblokComponent blok={blok} />
	})
}

{
	isPartner && (
		<Section
			title={'Products'}
			component={'products'}
			class:list='pt-8 xs:pt-12 lg:pt-8'>
			<Wrapper
				inner
				tag='ul'
				padB='b'
				class:list='w-full relative grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3'
				data-list-products>
				{productsByPartner.map((el, idx) => (
					<li>
						<CardProduct
							filename={el.content.image[0].file.filename}
							link={
								!_empty(el.content.link) &&
								_slug(el.content.link[0].link)
							}
							name={el.content.name}
							isNew={el.content.is_new}
							data-modal-trigger={el.content.is_new}
							data-display={`product-at-${idx}`}
							data-partner={el.content.partner.slug}
						/>
					</li>
				))}
			</Wrapper>
		</Section>
	)
}
