---
import Input from '@atoms/Input.astro'
import InputArea from '@atoms/InputArea.astro'
import Button from '@atoms/Button.astro'
import DashedBox from '@layouts/DashedBox.astro'
import InputDate from '@atoms/InputDate.astro'
import InputCheck from '@atoms/InputCheck.astro'
import InputFile from '@atoms/InputFile.astro'
import Icon from '@atoms/Icon.astro'
import RichText from '@atoms/RichText.astro'

const { consent } = Astro.props
---

<form
	class='grid grid-cols-1 gap-6 [&>:nth-last-child(2)]:mb-4'
	id='repair-center'
	form-id='Mj2Ymob6y'>
	<div class='grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3'>
		<Input
			type='text'
			label='Serial Number'
			placeholder='Serial Number'
			required
		/>
		<Input
			type='text'
			label='Product Number'
			placeholder='Product Number'
			required
		/>
	</div>
	<Input type='text' label='Device Name' placeholder='Device Name' required />
	<InputArea label='Brief' id='message' />
	<DashedBox
		all={false}
		top
		class:list='pt-4 grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3'>
		<InputDate label='Installation Date' required />
		<InputDate label='Failure Date' required />
	</DashedBox>
	<DashedBox all={false} top>
		<fieldset class='grid grid-cols-1'>
			<legend set:text='Device Status' class='flex py-4' />
			<div class='flex flex-wrap gap-x-6 gap-y-4'>
				<InputCheck label='Not coming on' />
				<InputCheck label='Making Sound' />
				<InputCheck label='LED Light Alarm' />
			</div>
		</fieldset>
	</DashedBox>
	<DashedBox all={false} top class:list='pt-6 grid grid-cols-1 gap-6'>
		<div class='grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3'>
			<Input
				type='text'
				label='Full Name'
				placeholder='Jane Diaz'
				required
			/>
			<Input
				type='text'
				label='Company/Device Owner Name'
				placeholder='Device Owner Name'
			/>
		</div>
		<Input
			type='text'
			label='Address'
			placeholder='Your address'
			required
		/>
		<div class='grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3'>
			<Input
				type='text'
				label='Phone'
				placeholder='Your phone number'
				required
			/>
			<Input
				type='email'
				label='Email'
				placeholder='jane.diaz@example.com'
				required
			/>
		</div>
	</DashedBox>
	{
		consent && (
			<DashedBox all={false} top class:list='pt-6 grid grid-cols-1 gap-6'>
				<InputCheck label='Consent' required consent>
					<RichText text={consent} tag='span' />
				</InputCheck>
			</DashedBox>
		)
	}
	<button class='group/button' data-form-submit>
		<Button
			icon='send-plane-fill'
			label='Send Complaint'
			iconPosition='trailing'
			color='accent'
			class:list='group-hover/button:shadow-md w-full'
			responsive
		/>
	</button>
</form>
