---
import Wrapper from './Wrapper.astro'
import Icon from '@atoms/Icon.astro'
import Legal from '@blocks/Legal.astro'
import Social from '@blocks/Social.astro'
import TwinActions from '@blocks/TwinActions.astro'

const year = new Date().getFullYear(),
	{
		legalName,
		legalLinks,
		social,
		actions,
		showActions,
		class: classes,
		...props
	} = Astro.props
---

<footer
	id='footer'
	class:list={['-space-y-0.5', showActions && 'xl:mt-24', classes]}
	{...props}>
	{!showActions && <TwinActions actions={actions} />}
	<div
		class='flex items-center lg:h-[72px] bg-surface-950 border-t border-surface-900/70 py-8 lg:py-0 relative z-30'>
		<Wrapper class:list='w-full grid grid-cols-1 lg:grid-cols-3 gap-6'>
			<div
				class='grid grid-cols-1 lg:grid-cols-2 gap-6 lg:col-span-2 items-center'>
				<div class='flex items-center space-x-4'>
					<Icon name='icon' class='w-8 text-white' />
					<small class='text-sm text-white/65'>
                        Copyright
						<span set:html='©' class="text-base"/>
						{year}
						{legalName}
					</small>
				</div>
				<Legal links={legalLinks} />
			</div>
			<Social links={social} class:list='lg:justify-self-end' />
		</Wrapper>
	</div>
</footer>
